@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');

.background_mapimage{
    
    z-index: 1;
    position: absolute;
    bottom: 200px;
}

.attack {
    width: 150px;
    height: 75px;
    border-radius: 15%;
    margin: 0px 50px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.defense{
    width: 150px;
    height: 75px;
    border-radius: 15%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.defense:hover,
.attack:hover {
    background-color: gray;
}

.Select_Position{
    text-align: center;
    margin-top: 30%;
}

.map_name{
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: Black Han Sans,sans-serif;
    position: absolute;
    left: 300px;
}