@import "../styles/common.scss";

.map_tit{
    text-align: center;
    .agent_name{
        img{//요원 포지션 사진

        }
        p{//요원 이름
        
        }
    }   
    .map{
        img{
            width: 10%;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px 50px;
            &:hover{
            }
        }
        
    }
}