@import "../styles/common.scss";
.Map_body{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.agent_image{
    position: relative;
    animation: fadeInLeft 2s;
    img{ 
        animation-duration: 3s;
        animation-name: slidein;
        width: 550px;
        padding-left: 10px;
        @keyframes fadeInLeft {
            0% {
                opacity: 0;
                transform: translate3d(-100%, 0, 0);
            }
            to {
                opacity: 1;
                transform: translateZ(0);
            }
        }
    }
}
.map_tit{
    
    .agent_name{
        position: relative;
        left: 15px;
        top: 140px;
        
        .line{
            border-left: 7px solid white;
            height: 40px;
            float: left;
        }
        img{//요원 포지션 사진
            width: 40px;
            height: 5%;
            float: left;
            padding-left: 10px;
            padding-right: 10px;
        }
        span{//요원 이름
            color: white;
            font-size: 45px;
            font-weight: 600;
            text-align: left;
            position: relative;
            bottom: 12px;

        }
    }   
    .map_t{
        padding-top: 140px;
        margin: 0 auto;
        width: 1200px;
        position: relative;
        left: 0px;
        .map{
            img{
                width: 270px;
                padding: 15px;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
            }
            
        }
    }
}