 @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@import "../styles/common.scss";

.map_bind{
    background-color: $main-beige;
    height: 100vh;
    .Map_body{
        .map_name{
            color: $main-navy;
            font-size: 100px;
            font-family: Black Han Sans,sans-serif;
            position: absolute;
            left: 300px;
            top: 150px;
        }//jonna jam it da
        .mapbutton_tit{
            position: absolute;
            .background_mapimage{
                    z-index: 1;
                    position: relative;
                    top: 190px;
            }
            .Select_Position{
                text-align: center;
                position: relative;
                top: 80px;
                display: flex;
                justify-content: center;
                .attack_div{
                    
                    .attack {
                        width: 246px;
                        height: 54px;
                        margin: 0px 50px;
                        cursor: pointer;
                        position: relative;
                        z-index: 2;
                        color: white;
                        font-weight: bold;
                        background-color: #FF4655;
                        border: none;
                    
                    }   
                    .attack:hover{
                        color: white;
                    }
                
                    .attack::after{
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 100%;
                        top: 0;
                        right: 0;
                        z-index: -1;
                        background-color: $main-navy;

                        transition: all 0.7s ease;
                    }
                    .attack:hover:after{
                        left: 0;
                        width: 100%;
                    }
                }
                
                .defense_div{
                    float: left;
                     
                    .defense{
                        width: 246px;
                        height: 54px;
                        cursor: pointer;
                        position: relative;
                        z-index: 2;
                        font-weight: bold;
                        background-color: white;
                        color: black;
                        border: none;
                    }
                    .defense:hover{
                        color: white;
                    }
                
                    .defense::after{
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 100%;
                        top: 0;
                        right: 0;
                        z-index: -1;
                        background-color: $main-navy;

                        transition: all 0.7s ease;
                    }
                    .defense:hover:after{
                        left: 0;
                        width: 100%;
                    }
                }
                /*
                  .btn-15:after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    background-color: #663dff;
                    border-radius: 5px;
                     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                     7px 7px 20px 0px rgba(0,0,0,.1),
                     4px 4px 5px 0px rgba(0,0,0,.1);
                    transition: all 0.3s ease;
                  }
                  .btn-15:hover {
                    color: #fff;
                  }
                  .btn-15:hover:after {
                    left: 0;
                    width: 100%;
                  }
                  .btn-15:active {
                    top: 2px;
                  }
                  */
            }
        }
    }

}